{% extends 'base.html.twig' %}

{% block page_title 'Politique de confidentialité' %}
{% block canonical_url url('app_politique_confidentialite') %}

{% block body %}
    <section class="py-5">
        <div class="flex flex-col items-center justify-center mx-auto mb-10">
            <h1 class="text-6xl mb-4 font-bold">
                Politique de confidentialité
            </h1>
            <span class="text-xl">
                {{ url('app_default')|trim('/') }}
            </span>
        </div>
        <article class="mx-auto max-w-screen-lg">
            <h3 class="underline font-bold mb-6">
                Le but de cette politique de confidentialité
            </h3>
            <p class="mb-5">
                Le but de cette politique de confidentialité est d'informer les utilisateurs de notre site des données personnelles que nous recueillerons ainsi que les informations suivantes, le cas échéant :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>Les données personnelles que nous recueillerons</li>
                <li>L’utilisation des données recueillies</li>
                <li>Qui a accès aux données recueillies</li>
                <li>Les droits des utilisateurs du site</li>
                <li>La politique de cookies du site</li>
            </ol>
            <p>
                Cette politique de confidentialité fonctionne parallèlement aux conditions générales d’utilisation de notre site.
            </p>

            <h3 class="underline font-bold my-6">
                Lois applicables
            </h3>
            <p class="mb-5">
                Conformément au <em>Règlement général sur la protection des données</em> (RGPD), cette politique de confidentialité est conforme aux règlements suivants.
            </p>
            <p class="mb-5">
                Les données à caractère personnel doivent être :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>
                    traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;
                </li>
                <li>
                    collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d'une manière incompatible avec ces finalités; le traitement ultérieur à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n'est pas considéré, conformément à l'article 89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;
                </li>
                <li>
                    adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;
                </li>
                <li>
                    exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;
                </li>
                <li>
                    conservées sous une forme permettant l'identification des personnes concernées pendant une durée n'excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées; les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l'intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques conformément à l'article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la personne concernée (limitation de la conservation) ;
                </li>
                <li>
                    traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d'origine accidentelle, à l'aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).
                </li>
            </ol>
            <p class="mb-5">
                Le traitement n'est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>
                    la personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;
                </li>
                <li>
                    le traitement est nécessaire à l'exécution d'un contrat auquel la personne concernée est partie ou à l'exécution de mesures précontractuelles prises à la demande de celle-ci ;
                </li>
                <li>
                    le traitement est nécessaire au respect d'une obligation légale à laquelle le responsable du traitement est soumis ;
                </li>
                <li>
                    le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ;
                </li>
                <li>
                    le traitement est nécessaire à l'exécution d'une mission d'intérêt public ou relevant de l'exercice de l'autorité publique dont est investi le responsable du traitement ;
                </li>
                <li>
                    le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.
                </li>
            </ol>
            <p>
                Pour les résidents de l’État de Californie, cette politique de confidentialité vise à se conformer à la <em>California Consumer Privacy Act (CCPA)</em>. S’il y a des incohérences entre ce document et la <em>CCPA</em>, la législation de l’État s’appliquera. Si nous constatons des incohérences, nous modifierons notre politique pour nous conformer à la loi pertinente. 
            </p>

            <h3 class="underline font-bold my-6">
                Consentement
            </h3>
            <p class="mb-5">
                Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4">
                <li>les conditions énoncées dans la présente politique de confidentialité et</li>
                <li>la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.</li>
            </ol>

            <h3 class="underline font-bold my-6">
                Données personnelles que nous collectons
            </h3>
            <p class="mb-5">
                <strong>Données collectées automatiquement</strong>
            </p>
            <p class="mb-5">
                Nous ne collectons aucune donnée automatiquement sur notre site.
            </p> 
            <p class="mb-5">
                <strong>Données recueillies de façon non automatique</strong>
            </p>
            <p class="mb-5">
                Nous pouvons également collecter les données suivantes lorsque vous effectuez certaines fonctions sur notre site :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>Prénom et nom</li>
                <li>Date de naissance</li>
                <li>Email</li>
                <li>Numéro de téléphone</li>
                <li>Information de paiement</li>
                <li>Numéro de permis de conduire</li>
                <li>Informations des véhicules de location</li>
            </ol>
            <p class="mb-5">
                Ces données peuvent être recueillies au moyen des méthodes suivantes :
            </p>
            <ul class="flex flex-col gap-y-4 mb-5">
                <li>Enregistrement d'un compte</li>
                <li>Location de véhicule</li>
            </ul>
            <p>
                Veuillez noter que nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé dans cette politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans vous en informer au préalable.
            </p>

            <h3 class="underline font-bold my-6">
                Comment nous utilisons les données personnelles
            </h3>
            <p class="mb-5">
                Les données personnelles recueillies sur notre site seront utilisées uniquement aux fins précisées dans la présente politique ou indiquées sur les pages pertinentes de notre site. Nous n’utiliserons pas vos données au-delà de ce que nous divulguerons.
            </p>
            <p class="mb-5">
                Les données que nous recueillons lorsque l’utilisateur exécute certaines fonctions peuvent être utilisées aux fins suivantes :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4">
                <li>Enregistrement des véhicules de location</li>
                <li>Création des offres de location</li>
                <li>Communication</li>
            </ol>

            <h3 class="underline font-bold my-6">
                Avec qui nous partageons les données personnelles 
            </h3>
            <p>
                <strong>Employés</strong>
            </p>
            <p class="mb-5">
                Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a raisonnablement besoin pour réaliser les objectifs énoncés dans la présente politique.
            </p>
            <p>
                <strong>Tierces parties</strong>
            </p>
            <p class="mb-5">
                Nous pouvons partager les données utilisateur avec les tiers suivants :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>Visiteurs du site</li>
            </ol>
            <p class="mb-5">
                Nous pouvons partager les données utilisateur avec des tiers aux fins suivantes :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>Informations des véhicules de location</li>
            </ol>
            <p class="mb-5">
                Les tiers ne seront pas en mesure d’accéder aux données des utilisateurs au-delà de ce qui est raisonnablement nécessaire pour atteindre l’objectif donné.
            </p>
            <p>
                <strong>Autres divulgations</strong>
            </p>
            <p class="mb-5">
                Nous nous engageons à ne pas vendre ou partager vos données avec d'autres tiers, sauf dans les cas suivants :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>si la loi l'exige</li>
                <li>si elle est requise pour toute procédure judiciaire</li>
                <li>pour prouver ou protéger nos droits légaux</li>
                <li>
                    à des acheteurs ou des acheteurs potentiels de cette société dans le cas où nous cherchons à la vendre la société
                </li>
            </ol>
            <p>
                Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.
            </p>

            <h3 class="underline font-bold my-6">
                Combien de temps nous stockons les données personnelles
            </h3>
            <p class="mb-5">
                Les données des utilisateurs seront conservées pour une durée de : 1 an
            </p>
            <p>
                Nous veillerons à ce que les utilisateurs soient avisés si leurs données sont conservées plus longtemps que cette durée.
            </p>

            <h3 class="underline font-bold my-6">
                Comment nous protégeons vos données personnelles
            </h3>
            <p class="mb-5">
                Afin d’assurer la protection de votre sécurité, nous utilisons le protocole de sécurité de la couche transport pour transmettre des renseignements personnels dans notre système.
            </p>
            <p class="mb-5">
                Toutes les données stockées dans notre système sont bien sécurisées et ne sont accessibles qu’à nos employés. Nos employés sont liés par des accords de confidentialité stricts et une violation de cet accord entraînerait le licenciement de l'employé.
            </p>
            <p>
                Alors que nous prenons toutes les précautions raisonnables pour nous assurer que nos données d’utilisateur sont sécurisées et que les utilisateurs sont protégés, il reste toujours du risque de préjudice. L’Internet en sa totalité peut être, parfois, peu sûr et donc nous sommes incapables de garantir la sécurité des données des utilisateurs au-delà de ce qui est raisonnablement pratique.
            </p>

            <h3 class="underline font-bold my-6">
                Mineurs
            </h3>
            <p>
                Le RGPD précise que les personnes de moins de 15 ans sont considérées comme des mineurs aux fins de la collecte de données. Les mineurs doivent avoir le consentement d’un représentant légal pour que leurs données soient recueillies, traitées et utilisées.
            </p>

            <h3 class="underline font-bold my-6">
                Vos droits en tant qu’utilisateur
            </h3>
            <p class="mb-5">
                En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes concernées :
            </p>
            <ol class="pl-4 list-[lower-latin] flex flex-col gap-y-4 mb-5">
                <li>droit d’accès</li>
                <li>droit de rectification</li>
                <li>droit à l'effacement</li>
                <li>droit de restreindre le traitement</li>
                <li>droit à la portabilité des données</li>
                <li>droit d'objection</li>
            </ol>
            <p>
                Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD.
            </p>

            <h3 class="underline font-bold my-6">
                Comment modifier, supprimer ou contester les données recueillies
            </h3>
            <p class="mb-5">
                Si vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou d’une autre, veuillez communiquer avec notre agent de protection de la vie privée ici :
            </p>
            <ul class="pl-8">
                <li>Bryan Florestal</li>
                <li>b.florestal@ecole-ipssi.net</li>
                <li>06 01 64 55 35</li>
            </ul>

            <h3 class="underline font-bold my-6">
                Modifications
            </h3>
            <p>
                Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette politique.
            </p>

            <h3 class="underline font-bold my-6">
                Contact
            </h3>
            <p>
                Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en utilisant ce qui suit :
            </p>
            <ul class="mb-8">
                <li>06 69 28 25 12</li>
                <li>l.correialopes@ecole-ipssi.net</li>
                <li>14 Avenue de l'Europe, 77144 Montévrain</li>
            </ul>
            <p><em>Date d’entrée en vigueur :</em> le 23 août 2022</p>
        </article>
    </section>
{% endblock %}