{% extends 'base.html.twig' %}

{% block title %}Espace client | E-Motion{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/pasca/OneDrive/Bureau/E-Motion/src/Controller/EspaceClientController.php'|file_link(0) }}">src/Controller/EspaceClientController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/pasca/OneDrive/Bureau/E-Motion/templates/espace_client/index.html.twig'|file_link(0) }}">templates/espace_client/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
