{% extends 'base.html.twig' %}

{% block title %}Accueil | E-Motion{% endblock %}

{% block body %}
<div>
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/lucycorreia-lopes/IdeaProjects/E-Motion/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/lucycorreia-lopes/IdeaProjects/E-Motion/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
