<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bonjour {{ email.toName }},</h1>

        <p>
            Vous n'avez pas restitué le véhicule que vous avez loué dans les temps !
        </p>

        <p>
            La date de fin de location est la suivante : {{ date_de_fin|date('F jS') }}
        </p>

        <p>
            Cliquez <a href="#">ici</a> pour accéder à notre site.
        </p>
    </body>
</html>