{% set accueil_url = url('app_default')|trim('/') %}
{% set has_role_user = is_granted('ROLE_USER') %}
{% set has_role_proprietaire = is_granted('ROLE_PROPRIETAIRE') %}
{% set has_role_admin = is_granted('ROLE_ADMIN') %}
<!DOCTYPE html>
<html style="height : 97%;">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        Tailwind Starter Template - Landing Page Template: Tailwind Toolbox
    </title>
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
        .gradient {
            background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
        }
    </style>

    <header>
        {% block header %}
            {{ include('components/_header.html.twig') }}
        {% endblock %}
    </header>
</head>

    <body class="height: 100%" style="height : 90%;">



        <main class="grid justify-items-center w-full" style="height : 90%; width: 100%; overflow: scroll;">
            {% block body %}{% endblock %}
        </main>

        <footer style="position: relative; bottom: 2% ; width: 100%;">
            {% block footer %}
                {{ include('components/_footer.html.twig') }}
            {% endblock %}
        </footer>
    </body>

</html>