<header class="bg-orange-500 h-32 flex items-center justify-center">
    <nav class="">
        <ul class="flex gap-x-6">
            <li><a href="{{ path('app_default') }}" class="text-blue-600 hover:text-blue-500">Accueil</a></li>
            <li><a href="{{ path('app_espace_client') }}" class="text-blue-600 hover:text-blue-500">Espace client</a></li>
        </ul>
    </nav>

    {% for type, messages in app.flashes %}
        {% for m in messages %}
            <p class="py-3 px-5 border border-solid border-transparent rounded {{ type }}">{{ m }}</p>
        {% endfor %}
    {% endfor %}
</header>