{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente | E-Motion{% endblock %}

{% block body %}
    <section class="">
        <div class="">
            <h1 class="">Conditions Générales de Vente</h1>
        </div>
    </section>
{% endblock %}